* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #adc9e0;
    padding: 20px;
    color: #333;
}

.container {
    max-width: 850px;
    margin: auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #333;
}

header h1 {
    margin-bottom: 5px;
}

header p {
    font-size: 18px;
    color: #555;
}

section {
    margin-top: 25px;
}

section h2 {
    color: #1f2933;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

section p {
    line-height: 1.6;
}


ul, ol {
    margin-left: 20px;
    line-height: 1.6;
}

li {
    margin-bottom: 8px;
}


dl {
    margin-left: 10px;
}

dt {
    font-weight: bold;
    margin-top: 10px;
}

dd {
    margin-left: 20px;
    margin-bottom: 5px;
}


section:last-of-type p {
    margin-bottom: 5px;
}


footer {
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    color: #666;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
